<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Short Story Library</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bookshelf.css" />
    <link rel="stylesheet" href="/css/cstyle.css" />
    <link rel="stylesheet" href="/css/fstyle.css" />
    <link rel="stylesheet" href="/css/hstyle.css" />
    <link rel="stylesheet" href="/css/mstyle.css" />
    <link rel="stylesheet" href="/css/homestyle.css" />
    <link
      rel="stylesheet"
      href="node_modules/star-rating.js/dist/star-rating.css"
    />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header>
        <h1 class="center-align amber-text text-lighten-4">
          Short Story Library: Post Lit, Get Lit.
        </h1>

         <nav>
    <div class="nav-wrapper brown darken-1">
      <ul id="nav-mobile" class="center-align hide-on-med-and-down ">
        <li><a href="/">Home</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/read">Read</a></li>

      </ul>

          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href="/profile">Profile</a>
            <button
              class="waves-effect waves-light btn-large orange lighten-1 brown-text brown-darken-1" href="/logout" id="logout">Logout</button>
          {{else}}
            <a class="waves-effect waves-light btn-large amber lighten-3 brown-text brown-darken-1" href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/js/materialize.min.js"></script>
    <script src="/js/bookshelf.js"></script>
     <script src="node_modules/star-rating.js/dist/star-rating.js"></script>
    <script>
      var stars = new StarRating(".star-rating");
    </script>
  </body>

</html>