<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Short Stories</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/homestyle.css">
  </head>
  <body>
    <h1 class="center-align amber-text text-lighten-4">Welcome to the Library</h1>
    <div class="section">
      <div class="container amber lighten-5">
        <div class="row" id="welcomeDisplay">
            <div class="col s12"> 
           Come right in, pull up a cushy chair and binge-read some literature in the short-story form.  Or make an account and exercise your braincells by writing a new short story for everyone else to read and rate. (Short is the operative word, here.) No library card or late fees.  Whatever you decide to do, please remember to respect the other readers and...quiet, please.
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/js/materialize.min.js"></script>
  </body>
</html> 