body {
    background-color: blanchedalmond;
    color: rgb(61, 16, 16);
}
a:link {
    color: rgb(61, 16, 16);
    background-color: transparent;
    text-decoration: none;
  }
#welcomeDisplay, #storyDisplay{
    padding: 10%;
}
.nav-wrapper>li {
    font-size: 4em;
}
.topZ {
    z-index: 11;
}